body{
    margin: 0px;
    padding: 0px;
}
.first{
    height: 640px;
    background-color: whitesmoke;
}
.second{
    height: 640px;
    background-color: white;
    background-image: url(../images/img2.jpg);
    background-size: cover;
}
.box{
    border: 1px solid white;
    width: 750px;
    height: 430px;
    background-color: white;
    margin-top: 120px;
    margin-left: 40px;
}
.col-md-6{
    height: 430px;
}
ul a{
    word-spacing: 20px;
    font-size: 13px;
    line-height: 10px;
}
.description{
    color: black;
    text-decoration: underline;
}
.specifications{
    margin-left: 40px;
    color: gainsboro;
}
.rx{
    margin-top: 50px;
    margin-left: 40px;
}
.words{
    margin-left: 40px;
    font-size: 13px;
}
.dollar{
    margin-left: 80px;
    margin-top: 20px;
}
.bike1{
    width: 80px;
    height: 110px;
    margin-top: -23px;
    margin-left: -2px;
}
.bike2{
    width: 250px;
    height: 150px;
    margin-top: 40px;
}
.bike3{
    width: 70px;
    height: 180px;
    margin-right: -130px;
    margin-left: 37px;
}
.bike4{
    width: 70px;
    height: 20px;
    margin-left: 80px;
    margin-top: 10px;
}
.box1{
    width: 100px;
    height: 80px;
    border: 1px solid white;
    text-align: center;
    margin-top: 16px;
}
.box2{
    width: 100px;
    height: 80px;
    border: 1px solid white;
    float: right;
    margin-top: -75px;
    text-align: center;
    margin-right: 80px;
}
.bike5{
    width: 250px;
    height: 80px;
    margin-top: 20px;
    float: right;
    margin-top: 85px;
    margin-right: -11px;
    margin-top: 55px;
}
.color{
    width: 80px;
    height: 30px;
}
.size{
    width: 90px;
    height: 40px;
}